<%- include('partials/header') -%>
<h1>Community Feed</h1>
<table id="table" class="highlight responsive-table">
    <thead class="thead-dark">
        <tr>
            <th>User</th>
            <th>Book Title</th>
            <th>Author Name</th>
            <th>Date</th>
            <th>Rating</th>
            <th>Action</th>
        </tr>
    </thead>
    <tr>
        <% for(let i=0; i < books.length; i++) {%>

                <td><a href="#"><%= user %></td></a>
                <td><%= books[i].title %></td>
                <td><%= books[i].author %></td>
                <td><%= books[i].createdAt.toLocaleDateString() %></td>
                <td><%= books[i].rating %></td>
                <td><form
                    class="col-1"
                    action=""
                    method="POST"
                  >
                    <button class="btn light-blue darken-4 fas fa-ellipsis-h" type="submit"></button>
                  </form></td>
            </tr>
            <% } %>
</table>
</div>
<ul class="pagination center">
    <li class="waves-effect"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
    <li class="active teal lighten-3"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#">2</a></li>
    <li class="waves-effect"><a href="#">3</a></li>
    <li class="waves-effect"><a href="#">4</a></li>
    <li class="waves-effect"><a href="#">5</a></li>
    <li class="waves-effect"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
</ul>
<div class="fixed-action-btn">
<a href="/bookForm" class="btn-floating btn-large waves-effect waves-light teal lighten-3"><i class="fas fa-plus"></i></a>
</div>
