<%- include('partials/header') -%>
<h1>Community Feed</h1>
<table id="table" class="striped responsive-table">
    <thead class="yellow lighten-5">
        <tr>
            <th>User</th>
            <th>Book Title</th>
            <th>Author Name</th>
            <th>Date</th>
            <th>Rating</th>
            <th class="action">Action</th>
        </tr>
    </thead>
    <tr>
        <% for(let i=0; i < books.length; i++) {%>

                <td><a href="/profile/<%= books[i].user %>"><%= books[i].user %></td></a>
                <td><%= books[i].title %></td>
                <td><%= books[i].author %></td>
                <td><%= books[i].createdAt.toLocaleDateString() %></td>
                <td><%= books[i].rating %></td>
                <td class='dropdown-trigger btn light-blue darken-4 fas fa-ellipsis-h' href='#' data-target='dropdown1'>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li class="dropOp"><a href="#">Add to Reading List</a></li>
                        <li class="dropOp"><a href="#">Add to Favorites</a></li>
                        <li><a href="#">Add to Completed</a></li>
                        <li><a href="#">Follow User</a></li>
                    </ul>
                </td>
            </tr>
            <% } %>
</table>
</div>
<ul class="pagination center">
    <li class="waves-effect"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
    <li class="active teal lighten-3"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#">2</a></li>
    <li class="waves-effect"><a href="#">3</a></li>
    <li class="waves-effect"><a href="#">4</a></li>
    <li class="waves-effect"><a href="#">5</a></li>
    <li class="waves-effect"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
</ul>
<div class="fixed-action-btn">
<a href="/bookForm" class="btn-floating btn-large waves-effect waves-light light-blue darken-4"><i class="fas fa-plus"></i></a>
</div>
<%- include('partials/footer') -%>