<%- include('partials/header') -%>

<h1>Community Feed (<%= books.length %>)</h1>

<!--<div class="input-field">
    <span>Filter: </span>
    <form action="/books/filter" method="POST">
    <select class="filterValue" name="filterValue">
        <option value="dateDesc">Date (Newest)</option>
        <option value="dateAsc">Date (Oldest)</option>
        <option value="rateLow">Rating (Low to High)</option>
        <option value="rateHigh">Rating (High to Low)</option>
        <option value="aToZ">Author (A to Z)</option>
        <option value="zToA">Author (Z to A)</option>
        <option value="friends">Friends</option>
    </select>
    <button class="btn blue-grey darken-1" type="submit">Submit</button>
    </form>
</div>-->

<table id="table" class="centered striped responsive-table">
    <thead class="orange lighten-5">
        <tr>
            <th>User</th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Rating</th>
            <th>Add to List</th>
        </tr>
    </thead>
        <tr class="community">
        <% for(let i=0; i < books.length; i++) {%>
            <td><a href="profile/<%= books[i].user._id %>"><%= books[i].user.userName %></a></td>
            <form action="books/addToList/<%= books[i]._id %>" method="POST">
            <td name="title"><%= books[i].title %></td>
            <td name="author"><%= books[i].author %></td>
            <td><%= books[i].createdAt.toLocaleDateString() %></td>
            <td name="rating"><%= books[i].rating %></td>
            <td><button class="btn light-blue darken-4 fa fa-plus" onclick="M.toast({html: 'Added to reading list!'})"></button></form></td>
        </tr>
        <% } %>
</table>
</div>

<%- include('partials/footer') -%>