<%- include('partials/header') -%>

<h1>Community Feed (<%= books.length %>)</h1>

<div class="input-field">
    <span>Filter: </span>
    <select>
        <option value="dateDesc">Date (Newest)</option>
        <option value="dateAsc">Date (Oldest)</option>
        <option value="rateLow">Rating (Low to High)</option>
        <option value="rateHigh">Rating (High to Low)</option>
        <option value="aToZ">Author (A to Z)</option>
        <option value="zToA">Author (Z to A)</option>
        <option value="friends">Friends</option>
    </select>
    <button class="btn blue-grey darken-1">Submit</button>
</div>

<table id="table" class="centered striped responsive-table">
    <thead class="orange lighten-5">
        <tr>
            <th>User</th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Rating</th>
        </tr>
    </thead>
        <tr>
        <% for(let i=0; i < books.length; i++) {%>
            <td><a href="profile/<%= books[i].user._id %>"><%= books[i].user.userName %></a></td>
            <td><%= books[i].title %></td>
            <td><%= books[i].author %></td>
            <td><%= books[i].createdAt.toLocaleDateString() %></td>
            <td><%= books[i].rating %></td>
        </tr>
        <% } %>
</table>
</div>

<%- include('partials/footer') -%>