<%- include('partials/header') -%>
    <h1><%= userName.charAt(0).toUpperCase() + userName.slice(1) + "'s"%> Books (<%= books.length %>)</h1>
    <table id="table" class="highlight responsive-table">
        <thead class="thead-dark">
            <tr>
                <th>Book Title</th>
                <th>Author Name</th>
                <th>Rating</th>
                <th>Date</th>
                <th>Delete</th>
                <th>Favorite</th>
            </tr>
        </thead>
        <tr>
            <% for(let i=0; i < books.length; i++) {%>
                    <td><%= books[i].title %></td>
                    <td><%= books[i].author %></td>
                    <td><%= books[i].rating %></td>
                    <td><%= books[i].createdAt.toLocaleDateString() %></td>
                    <td>
                    <%if(books.user == user.id){ %>
                    <form
                        class="col-1"
                        action="/deleteBook/?_method=DELETE"
                        method="POST"
                      >
                        <button class="btn light-blue darken-4 fa fa-trash" type="submit"></button>
                      </form>
                      <%}%>
                    </td>
                    <td><form
                        class="col-1"
                        action=""
                        method="POST"
                      >
                        <button class="btn light-blue darken-4 fa fa-heart" type="submit"></button>
                      </form>
                    </td>
                </tr>
                <% } %>
    </table>
</div>
<div class="fixed-action-btn">
    <a href="/bookForm" class="btn-floating btn-large waves-effect waves-light teal lighten-3"><i class="fas fa-plus"></i></a>
</div>