<%- include('partials/header') -%>

<h1><%= userName %></h1>

<h4>Books Read (<%= booksRead.length %>)</h4>

  <table id="table" class="centered striped responsive-table">
    <thead class="orange lighten-5">
        <tr>
          <th>Book Title</th>
          <th>Author Name</th>
          <th>Rating</th>
          <th>Added</th>
          <th>Delete</th>
          <th>Favorite</th>
        </tr>
    </thead>
        <tr>
        <% for(let i=0; i < books.length; i++) {%>
        <% if(books[i].completed == true) {%>
          <td><%= books[i].title %></td>
          <td><%= books[i].author %></td>

        <% if(books[i].rating == null) {%>
          <td><button class="btn light-blue darken-4 fas fa-star" type="submit" onclick="M.toast({html: 'Added rating'})"></button></td>
        <%} else {%>
          <td><%= books[i].rating %></td>
        <% } %>
          <td><%= books[i].createdAt.toLocaleDateString() %></td>
        <%if(books.user == user.id){ %>
          <td>
            <form class="col-1" action="books/deleteBook/<%=books[i]._id%>?_method=DELETE" method="POST">

            <button class="btn light-blue darken-4 fa fa-trash" type="submit" onclick="M.toast({html: 'Deleted from list!'})"></button>

            </form>
          </td>
          <td>
            <form class="col-1" action="books/markFavorite/<%=books[i]._id%>?_method=PUT" method="POST">
            
            <button id="favorite" class="btn light-blue darken-4 fa fa-heart" onclick="M.toast({html: 'Added to favorites!'})" type="submit"></button>
            
            </form>
          </td>
        </tr>
        <% } %>
      <% } %>
    <% } %>
  </table>

<%- include('partials/footer') -%>