<%- include('partials/header') -%>

<ul class="collapsible friends-collapsible">
  <li>
    <div class="collapsible-header"><h1>Friends (<%= friends.length %>)</h1></div>
    <div class="collapsible-body">
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <% for(let i=0; i < friends.length; i++) {%>
                    <td><%= friends[i] %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</ul>

<input type="text" placeholder="Search for users is currently disabled" disabled></input>
    
<h4>Book Club Users (<%= user.length %>)</h4>


<div class="profile-cards">
    <% for(let i=0; i < user.length; i++) {%>
    <ul class="friends">
        <div class="friend-card">
            <li><img id="friends-img" src="<%= user[i].img %>"></li>
            <li><a href="/profile/<%= user[i].id %>"><%= user[i].userName %></a></li>

            <% if(friends.includes(user[i].id)) {%>
                <form class="col-1" action="books/removeFriend/<%= user[i]._id %>?_method=PUT" method="POST">
            
                <button class="btn btn-friends red accent-4" type="submit" onclick="M.toast({html: `Unfollowed <%= user[i].userName %>!`})">Unfollow</button>
        
                </form>
            <%} else {%>
            <form class="col-1" action="books/addFriend/<%= user[i]._id %>?_method=PUT" method="POST">
            
            <button class="btn btn-friends light-blue darken-4" type="submit" onclick="M.toast({html: `Now following <%= user[i].userName %>!`})">Follow</button>

            </form>
            <% } %>
        </div>
    </ul>
    <% } %>
</div>

<%- include('partials/footer') -%>