<%- include('partials/header') -%>
    <h1>Friends</h1>
    <input type="text" placeholder="Search for friends"></input>
    
    <h2>Other Users (<%= user.length %>)</h2>


    <div class="profile-cards">
        <% for(let i=0; i < user.length; i++) {%>
        <ul class="friends">
            <div class="card">
                <li><%= user[i].img.data %></li>
                <li><a href="/profile/<%= user[i].id %>"><%= user[i].userName %></a></li>
                <form class="col-1" action="/addFriend" method="POST">
                    <button class="btn light-blue darken-4" type="submit">Follow</button>
                </form>
            </div>
        </ul>
        <% } %>
    </div>
<%- include('partials/footer') -%>